if list.fieldTypes.code
	link(rel="stylesheet", href="#{adminPath}/js/lib/codemirror/codemirror.css")
if list.fieldTypes.objectArray2dLayout
	link(rel="stylesheet", href="#{adminPath}/js/lib/react-grid-layout/css/styles.css")
	link(rel="stylesheet", href="#{adminPath}/js/lib/react-resizable/css/styles.css")

